{% extends 'base.html.twig' %}

{% block title %}Connexion : Chicago 1930{% endblock %}

{% block back %}
<a href="{{ path('index')}}"><button class="button">retour</button></a>
{% endblock %}

{% block nav %}

{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}

        <div class="login full-border col-11 col-sm-5 center">
            <form action="{{ path('security_login') }}" method="post">
                <fieldset>
                    <legend><h1>Connexion</h1></legend>
                    <div class="form-group col-10">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Identifiant"/>
                    </div>
                    <div class="form-group col-10">
                        <input type="password" id="password" name="_password" class="form-control" placeholder="mot de passe" />
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <button type="submit" class="button col-10 col-sm-5">Connexion</button>
                </fieldset>
            </form>
            <div class="fpsswrd">
                <a href="#">Mot de passe oublié ?</a>
            </div>
        </div>

{% endblock %}

{% block classFooter %}
class="col-12"
{% endblock %}