{% extends 'baseGame.html.twig' %}

{% block title %}{{  partie.joueurs[0].users.username }} VS {{ partie.joueurs[1].users.username  }} - Chicago 1930{% endblock %}
{% block stylesheets %}
    <style>
        .selected {
            border: 2px solid red;
        }
        .new {
            border: 2px solid green;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/plateau.css') }}" />
{% endblock %}

{% block body %}
    {% if app.user.username == partie.joueurs[0].users.username %}
        {% set joueur1 = partie.joueurs[0] %}
        {% set joueur2 = partie.joueurs[1] %}
    {% else %}
        {% set joueur1 = partie.joueurs[1] %}
        {% set joueur2 = partie.joueurs[0] %}
    {% endif %}
    <!--<h1>Partie entre {# partie.joueurs[0].users.username }} et {{ partie.joueurs[1].users.username  #}</h1>-->

    <div id="plateau">
        {{  render(controller(
            'App\\Controller\\GameController::afficherPlateau',
            { 'partie': partie.id }
        )) }}
    </div>

    <div class="animated fadeInUp" id="attentejoueur">
        <div class="animated fadeIn delay-1s">
                Attente du joueur {{ joueur2.users.username }}<br>
            Manche {{ partie.status['nbManche'] }} - Tour {{ partie.status['nbTour'] }}

        </div>
    </div>
{% endblock %}


{% block javascripts %}
<script>
    var flag = false;
    var actualise = false;
    var cartesSelectedTerrain = Array();
    var cartesSelectedChameau = Array();
    var cartesSelectedMain = Array();
    var cartesType = Array();
    var cartesTerrainType = Array();

    $(document).ready(function(){
        setInterval(actualisePlateau, 2000);
    });
    function actualisePlateau() {
        $.ajax({
            url: "{{ path('actualise_plateau', {partie: partie.id}) }}",
        }).done(function (etat) {
            console.log(etat);
            if (etat === 'touradversaire') {
                actualise = false;
                console.log('attente Adversaire');
                $('#attentejoueur').show();
            }
            if (etat === 'montour') {
                if (actualise === false) {
                    console.log('reload');
                    $('#plateau').empty().load("{{ path('show_board', {partie:partie.id}) }}");
                    $('img').removeClass('selected');
                    cartesSelectedTerrain = Array();
                    cartesSelectedChameau = Array();
                    cartesSelectedMain = Array();
                    cartesType = Array();
                    cartesTerrainType = Array();
                    actualise = true;
                    $('#attentejoueur').hide();
                }
            }
            else if(etat === ('/game-finished/'+{{ partie.id }})){
                window.location.replace(etat);
            }
        });
    }

        $(document).on('click', '.cartechameau', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                //retirer d'un tableau
                $index = cartesSelectedChameau.indexOf($(this).data('carte'));
                $type = cartesSelectedMain.indexOf($(this).data('type'));
                cartesType.splice($type, 1);
                cartesSelectedChameau.splice($index, 1);
                console.log(cartesSelectedChameau)
            } else {
                $(this).addClass('selected');
                //ajouter dans un tableau
                cartesSelectedChameau.push($(this).data('carte'));
                cartesType.push($(this).data('type'));
                console.log(cartesType);
                console.log(cartesSelectedChameau);
            }
        });

        $(document).on('click', '.cartemain', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                //retirer d'un tableau
                $index = cartesSelectedMain.indexOf($(this).data('carte'));
                $type = cartesSelectedMain.indexOf($(this).data('type'));
                cartesType.splice($type, 1);
                cartesSelectedMain.splice($index, 1);
                console.log(cartesSelectedMain);
            } else {
                $(this).addClass('selected');
                //ajouter dans un tableau
                cartesSelectedMain.push($(this).data('carte'));
                cartesType.push($(this).data('type'));
                console.log(cartesSelectedMain);
                console.log(cartesType);
            }
        });

        $(document).on('click', '.carteterrain', function () {
            if($(this).hasClass('chameau'))
            {
                $('.carteterrain').filter('.chameau').each(function(){
                    if($(this).hasClass('selected'))
                    {
                        $(this).removeClass('selected');
                        //retirer d'un tableau
                        $index = cartesSelectedTerrain.indexOf($(this).data('carte'));
                        $type = cartesSelectedTerrain.indexOf($(this).data('type'));
                        cartesTerrainType.splice($type, 1);
                        cartesSelectedTerrain.splice($index, 1);
                        flag = false;

                    }
                    else {
                        $(this).addClass('selected');
                        //ajouter dans un tableau
                        cartesSelectedTerrain.push($(this).data('carte'));
                        cartesTerrainType.push($(this).data('type'));
                        flag = true;

                    }
                });
            }
            else {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    //retirer d'un tableau
                    $index = cartesSelectedTerrain.indexOf($(this).data('carte'));
                    $type = cartesSelectedTerrain.indexOf($(this).data('type'));
                    cartesTerrainType.splice($type, 1);
                    cartesSelectedTerrain.splice($index, 1);
                    flag = false;

                } else {
                    $(this).addClass('selected');
                    //ajouter dans un tableau
                    cartesSelectedTerrain.push($(this).data('carte'));
                    cartesTerrainType.push($(this).data('type'));
                    flag = false;

                }
            }
        });



        $(document).on('click', '#action-prendre', function () {
            if (cartesSelectedTerrain.length === 0) {
                alert('Selectionnez une carte');
            }
            else if ((cartesSelectedTerrain.length > 1 && flag === false )) {
                alert('Selectionnez une seule carte');
            }
            else {

                $.ajax({
                    url: "{{ path('action_prendre', {partie: partie.id}) }}",
                    data: {
                        cartes: cartesSelectedTerrain
                    },
                    method: 'POST',
                    success: function (data) {


                        if(typeof data['cartemain'] !== 'undefined')//Prendre une seule carte marchandise
                        {
                            console.log('http://127.0.0.1:8000/cartes/' + data['cartemain'].fichier);
                            $('#carte-' + data['cartemain'].id).remove();
                            var chameau = '';
                            if (data['carteterrain'].nom === "Cadillac") {
                                chameau = "chameau";
                            }
                            $('#terrain').append('<img id="carte-' + data['carteterrain'].id + '" src="http://127.0.0.1:8000/cartes/' + data['carteterrain'].fichier + '" class="carteterrain ' + chameau + ' new"  data-carte="' + data['carteterrain'].id + '" />');
                            $('#main').append('<img src="{{ asset('cartes/') }}' + data['cartemain'].fichier + '" class="cartemain new" data-carte="'+data['cartemain'].id+'" />');
                        }
                        else//Prendre les cartes Cadillac
                        {
                            for(i = 0 ; i < data['cartechameau'].length ; i++)
                            {
                                console.log('http://127.0.0.1:8000/cartes/' + typeof data['cartechameau'][i]);
                                $('#carte-' + data['cartechameau'][i].id).remove();
                                $('#cadillac').append('<img src="{{ asset('cartes/') }}' + data['cartechameau'][i].fichier + '" class="cartechameau new" data-carte="'+data['cartechameau'][i].id+'" />');

                            }
                            for(i = 0 ; i < data['carteterrain'].length ; i++)
                            {
                                var chameau = '';
                                if (data['carteterrain'][i].nom === "Cadillac") {
                                    chameau = "chameau";
                                }
                                $('#terrain').append('<img id="carte-' + data['carteterrain'].id + '" src="{{ asset('cartes/') }}' + data['carteterrain'][i].fichier + '" class="carteterrain ' + chameau + ' new"  data-carte="' + data['carteterrain'][i].id + '" />');

                            }
                        }
                        $.ajax({
                            url: "{{ path('jouer_action_suivant', {partie: partie.id}) }}",
                            method: 'POST'
                        });
                    },
                    error: function (data) {
                        if (data === 'erreur7') {
                            alert('Vous avez déjà 7 cartes en main. Vous ne pouvez pas jouer cette action.');
                        } else {
                            console.log('erreur action prendre');
                        }
                    }
                })
            }
        });

    $(document).on('click', '#action-vendre', function () {
        if (cartesSelectedMain.length === 0) {
            alert('Selectionnez une carte');
        }
        else if(cartesSelectedMain.length === 1)//Cas de 1 carte Main
        {
            if(cartesType[0] === 'Arme' || cartesType[0] ===  'Drogue' || cartesType[0] ===  'Oeuvre' )
            {
                alert('Il faut au minimum 2 cartes pour cette vente !');
            }
            else
            {
                $(this).prop('disabled', true);
                $.ajax({
                    url: "{{ path('action_vendre', {partie: partie.id}) }}",
                    data: {
                        cartes: cartesSelectedMain
                    },
                    method: 'POST',
                    success: function (data) {
                        for(i = 0; i < data['cartemain'].length ; i++)
                        {
                            $('#carte-' + data['cartemain'][i]).remove();
                        }
                        for(i = 0; i < data['jetons'].length ; i++)
                        {
                            $('#jeton-' + data['jetons'][i]).remove();
                        }

                        $.ajax({
                            url: "{{ path('jouer_action_suivant', {partie: partie.id}) }}",
                            method: 'POST'
                        });
                    },
                    error: function (data) {
                        if (data === 'jetonVide') {
                            alert('La marchandise que vous tentez d\'obtenir n\'est plus disponible.');
                        } else {
                            console.log('erreur action vendre');
                        }
                    }
                })
            }
        }
        else {//Cas de plusieurs cartes
            var flag = false;
            for(i = 0; i < cartesType.length ; i++)
            {
                if(cartesType[i] !== cartesType[0])
                {
                    flag = false;
                    alert('Veuillez sélectionner le même type de carte !');
                    break;
                }
                else
                {
                    flag = true;
                }
            }

            if(flag === true) {
                $(this).prop('disabled', true);
                $.ajax({
                    url: "{{ path('action_vendre', {partie: partie.id}) }}",
                    data: {
                        cartes: cartesSelectedMain
                    },
                    method: 'POST',
                    success: function (data) {
                        for(i = 0; i < data['cartemain'].length ; i++)
                        {
                            $('#carte-' + data['cartemain'][i]).remove();
                        }
                        for(i = 0; i < data['jetons'].length ; i++)
                        {
                            $('#jeton-' + data['jetons'][i]).remove();
                        }

                        $.ajax({
                            url: "{{ path('jouer_action_suivant', {partie: partie.id}) }}",
                            method: 'POST'
                        });
                    },
                    error: function (data) {
                        if (data === 'jetonVide') {
                            alert('La marchandise que vous tentez d\'obtenir n\'est plus disponible.');
                        } else {
                            console.log('erreur action vendre');
                        }
                    }
                })
            }

        }
    });

    $(document).on('click', '#action-trade', function () {

        if (cartesSelectedTerrain.length <= 1) {
            alert('Selectionnez au minimum 2 cartes');
        }
        else if(cartesSelectedTerrain.length !== (cartesSelectedChameau.length + cartesSelectedMain.length))
        {
            alert('Veuillez sélectionner un nombre similaire de cartes à échanger');
        }
        else if({% if partie.joueurs[0].users.username == app.user.username %}{{ partie.joueurs[0].main|length }}{% else %}{{ partie.joueurs[1].main|length }}{% endif %} + cartesSelectedChameau.length > 7)
        {
            alert('Trop de cartes chameaux sélectionnées !');
        }
        else {
            var flag = false;
            var type = "";
            for (i = 0; i < cartesTerrainType.length; i++) {
                type = cartesTerrainType[i];
                for (j = 0; j < cartesType.length; j++) {
                    if(cartesType[j] !== type) {
                        flag = true;
                    }
                    else {
                        flag = false;
                        break;
                    }
                }
            }
            if(flag === false)
            {
                alert('Choisissez des types différents de cartes terrain par rapport à votre main !');
            }
            else {
                $(this).prop('disabled', true);
                $.ajax({
                    url: "{{ path('action_trade', {partie: partie.id}) }}",
                    data: {
                        cartes: cartesSelectedMain,
                        terrain: cartesSelectedTerrain,
                        cadillac: cartesSelectedChameau
                    },
                    method: 'POST',
                    success: function (data) {
                        if(typeof data['cartemain'] !== 'undefined') {
                            for (i = 0; i < data['cartemain'].length; i++) {
                                $('#carte-' + data['cartemain'][i].id).remove();
                                $('#terrain').append('<img id="carte-' + data['cartemain'][i].id + '" src="{{ asset('cartes/') }}' + data['cartemain'][i].fichier + '" class="cartemain new"  data-carte="' + data['cartemain'][i].id + '" /></div>');
                            }
                        }
                        for(i = 0; i < data['carteterrain'].length ; i++)
                        {
                            $('#carte-' + data['carteterrain'][i].id).remove();
                            $('#main').append('<img id="carte-' + data['carteterrain'][i].id + '" src="{{ asset('cartes/') }}' + data['carteterrain'][i].fichier + '" class="carteterrain new"  data-carte="' + data['carteterrain'][i].id + '" />');

                        }
                        if(typeof data['cartechameau'] !== 'undefined') {
                            for (i = 0; i < data['cartechameau'].length ; i++) {
                                $('#carte-' + data['cartechameau'][i].id).remove();
                                $('#terrain').append('<img id="carte-' + data['cartechameau'][i].id + '" src="{{ asset('cartes/') }}' + data['cartechameau'][i].fichier + '"  class="cartechameau new"  data-carte="' + data['cartechameau'][i].id + '" />');
                            }
                        }


                        $.ajax({
                            url: "{{ path('jouer_action_suivant', {partie: partie.id}) }}",
                            method: 'POST'
                        });
                    },
                    error: function (data) {
                        if (data === 'erreur') {
                            alert('WTF');
                        } else {
                            console.log('erreur action trade');
                        }
                    }
                })
            }
        }
    });

        /*$(document).on('click', '#action-terminer', function () {
            $(this).prop('disabled', true);
            $.ajax({
                url: "{ path('jouer_action_suivant', {partie: partie.id}) }}",
                method: 'POST'
            });
        });*/

</script>
{% endblock %}