{% extends 'baseGame.html.twig' %}


{% block stylesheets %}
    <style>
        .selected {
            border: 2px solid red;
        }
        .new {
            border: 2px solid green;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Partie entre {{ partie.joueurs[0].users.username }} et {{ partie.joueurs[1].users.username  }}</h1>

    <div id="plateau">
        {{  render(controller(
            'App\\Controller\\GameController::afficherPlateau',
            { 'partie': partie.id }
        )) }}
    </div>
    {{ dump(partie) }}
    <div id="attentejoueur" style="position:fixed; top:0; left:0; height: 100%; width: 100%; background-color: darkgray; opacity: 0.8;font-size: 60px; display:none">
        Attente du joueur
    </div>
{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}
<script>
    var flag = false;
    var actualise = false;
    $(document).ready(function(){
        setInterval(actualisePlateau, 2000);
    });
    function actualisePlateau() {
        $.ajax({
            url: "{{ path('actualise_plateau', {partie: partie.id}) }}",
        }).done(function (etat) {
            console.log(etat);
            if (etat === 'touradversaire') {
                actualise = false;
                console.log('attente Adversaire');
                $('#attentejoueur').show();
            }
            if (etat === 'montour') {
                if (actualise === false) {
                    console.log('reload');
                    $('#plateau').empty().load("{{ path('show_board', {partie:partie.id}) }}");
                    $('img').removeClass('selected');
                    cartesSelectedTerrain = Array();
                    cartesSelectedChameau = Array();
                    cartesSelectedMain = Array();
                    actualise = true;
                    $('#attentejoueur').hide();
                }
            }
        });
    }

        $(document).on('click', '.cartechameau', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                //retirer d'un tableau
                $index = cartesSelectedChameau.indexOf($(this).data('carte'));
                cartesSelectedChameau.splice($index, 1);
                console.log(cartesSelectedChameau)
            } else {
                $(this).addClass('selected');
                //ajouter dans un tableau
                cartesSelectedChameau.push($(this).data('carte'));
                console.log(cartesSelectedChameau)
            }
        });

        $(document).on('click', '.cartemain', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                //retirer d'un tableau
                $index = cartesSelectedMain.indexOf($(this).data('carte'));
                cartesSelectedMain.splice($index, 1);
                console.log(cartesSelectedMain)
            } else {
                $(this).addClass('selected');
                //ajouter dans un tableau
                cartesSelectedMain.push($(this).data('carte'));
                console.log(cartesSelectedMain)
            }
        });

        $(document).on('click', '.carteterrain', function () { //C'est pété
            if($(this).hasClass('chameau'))
            {
                //for (i = 0; i < $('.carteterrain').hasClass('chameau').length ; i++) {
                $('.carteterrain').filter('.chameau').each(function(){


                    if($(this).hasClass('selected'))
                    {
                        $(this).removeClass('selected');
                        //retirer d'un tableau
                        $index = cartesSelectedTerrain.indexOf($(this).data('carte'));
                        cartesSelectedTerrain.splice($index, 1);
                        flag = false;
                        console.log("Cadillac vide :"+cartesSelectedTerrain);
                    }
                    else {
                        $(this).addClass('selected');
                        //ajouter dans un tableau
                        cartesSelectedTerrain.push($(this).data('carte'));
                        flag = true;
                        console.log("Mes cartes Cadillac :"+cartesSelectedTerrain)
                    }
                });
            }
            else {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    //retirer d'un tableau
                    $index = cartesSelectedTerrain.indexOf($(this).data('carte'));
                    cartesSelectedTerrain.splice($index, 1);
                    flag = false;
                    console.log("Vide cartes Pacadillac :"+cartesSelectedTerrain)
                } else {
                    $(this).addClass('selected');
                    //ajouter dans un tableau
                    cartesSelectedTerrain.push($(this).data('carte'));
                    flag = false;
                    console.log("Mes cartes Pacadillac :"+cartesSelectedTerrain)
                }
            }
        });



        $(document).on('click', '#action-prendre', function () {
            if (cartesSelectedTerrain.length === 0) {
                alert('Selectionnez une carte');
            }
            else if ((cartesSelectedTerrain.length > 1 && flag === false )) {
                alert('Selectionnez une seule carte');
            }
            else {
                console.log('OK');
                $.ajax({
                    url: "{{ path('action_prendre', {partie: partie.id}) }}",
                    data: {
                        cartes: cartesSelectedTerrain
                    },
                    method: 'POST',
                    success: function (data) {
                        console.log(data);
                        $('#bloc-action').hide();
                        $('#bloc-suivant').show();
                        if(typeof data['cartemain'] !== 'undefined')
                        {
                            console.log('http://127.0.0.1:8000/cartes/' + data['cartemain'].fichier);
                            $('#carte-' + data['cartemain'].id).remove();
                            var chameau = '';
                            if (data['carteterrain'].nom === "Cadillac") {
                                chameau = "chameau";
                            }//ça fonctionne ça ?
                            $('#terrain').append('<div class="col-sm-2" id="carte-' + data['carteterrain'].id + '"><img src="http://127.0.0.1:8000/cartes/' + data['carteterrain'].fichier + '" height="100px" class="carteterrain ' + chameau + ' new"  data-carte="' + data['carteterrain'].id + '" /></div>');
                            $('#main').append('<img src="http://127.0.0.1:8000/cartes/' + data['cartemain'].fichier + '" class="cartemain new" height="100px" data-carte="'+data['cartemain'].id+'" />');
                        }
                        else
                        {


                            for(i = 0 ; i < data['cartechameau'].length ; i++)
                            {
                                console.log('http://127.0.0.1:8000/cartes/' + typeof data['cartechameau'][i]);
                                $('#carte-' + data['cartechameau'][i].id).remove();
                                $('#cadillac').append('<img src="http://127.0.0.1:8000/cartes/' + data['cartechameau'][i].fichier + '" class="cartechameau new" height="100px" data-carte="'+data['cartechameau'][i].id+'" />');

                            }
                            for(i = 0 ; i < data['carteterrain'].length ; i++)
                            {
                                var chameau = '';
                                if (data['carteterrain'][i].nom === "Cadillac") {
                                    chameau = "chameau";
                                }
                                $('#terrain').append('<div class="col-sm-2" id="carte-' + data['carteterrain'][i].id + '"><img src="http://127.0.0.1:8000/cartes/' + data['carteterrain'][i].fichier + '" height="100px" class="carteterrain ' + chameau + ' new"  data-carte="' + data['carteterrain'][i].id + '" /></div>');

                            }
                        }

                    },
                    error: function (data) {
                        if (data === 'erreur7') {
                            alert('Vous avez déjà 7 cartes en main. Vous ne pouvez pas jouer cette action.');
                        } else {
                            console.log('erreur action prendre');//J'arrive pas à obtenir l'erreur
                        }
                    }
                })
            }
        });

    $(document).on('click', '#action-vendre', function () {
        console.log(cartesSelectedMain);
        if (cartesSelectedTerrain.length === 0) {
            alert('Selectionnez une carte');
        }
        else if (cartesSelectedTerrain.length < 1) {
            alert('Selectionnez une seule carte');
        }
        else {
            console.log('OK');
            $.ajax({
                url: "{{ path('action_vendre', {partie: partie.id}) }}",
                data: {
                    cartes: cartesSelectedMain
                },
                method: 'POST',
                success: function (data) {
                    console.log('carte' + data['cartemain'].id);
                    $('#bloc-action').hide();
                    $('#bloc-suivant').show();
                    $('#carte-' + data['cartemain'].id).remove();
                    var chameau = '';
                    if (data['carteterrain'].nom === "Cadillac") {
                        chameau = "chameau";
                    }//ça fonctionne ça ?
                    $('#terrain').append('<div class="col-sm-2" id="carte-' + data['carteterrain'].id + '"><img src="http://127.0.0.1:8000/cartes/' + data['carteterrain'].fichier + '" height="100px" class="carteterrain ' + chameau + ' new"  data-carte="' + data['carteterrain'].id + '" /></div>');
                    $('#main').append('<img src="http://127.0.0.1:8000/cartes/' + data['cartemain'].fichier + '" class="cartemain new" height="100px" data-carte="'+data['cartemain'].id+'" />');
                },
                error: function (data) {
                    if (data === 'erreur7') {
                        alert('Vous avez déjà 7 cartes en main. Vous ne pouvez pas jouer cette action.');
                    } else {
                        console.log('erreur action prendre');//J'arrive pas à obtenir l'erreur
                    }
                }
            })
        }
    });

        $(document).on('click', '#action-terminer', function () {
            $(this).prop('disabled', true);
            $.ajax({
                url: "{{ path('jouer_action_suivant', {partie: partie.id}) }}",
                method: 'POST'
            });
        });

</script>
{% endblock %}