{% extends 'base.html.twig' %}

{% block title %}Parties : Chicago 1930{% endblock %}

{% block body %}
<div class="mes-p col-11 center align-center">
    <h1>{{ app.user.username }}</h1>
    <div class="col-11 col-sm-3 center align-center inline-block">
        <h2>Créer une nouvelle partie</h2>
        <a href="{{ path('partie_creer') }}"><img src="{{ asset('img/plus.svg') }}" alt=""></a>
    </div>
    <div class="col-11 col-sm-2 center align-center inline-block">
    </div>
    <div class="col-11 col-sm-3 center align-center inline-block">
        <h2>Vos parties en cours</h2>
        <ul>
            {% if games is defined %}
                {% for game in games %}

                    {% if game.joueurs[0].users.username == app.user.username %}
                        {% set joueur = game.joueurs[1].users.username %}
                    {% else %}
                        {% set joueur = game.joueurs[0].users.username %}
                    {% endif %}

                    {% if game.joueurs[0].users.username == app.user.username or game.joueurs[1].users.username == app.user.username %}
                        <li><img src="{{ asset('img/arrow.svg') }}" alt="">VS {{ joueur }} - Manche : {{ game.status['nbManche'] }} | Tour : {{ game.status['nbTour'] }} {% if game.status['status'] == 'G' %}
                            <a href="{{ path('partie_finie',{'partie':game.id}) }}">Voir les stats</a>{% else %}<a href="{{ path('show_game', {'partie': game.id}) }}">Rejoindre la partie</a>{% endif %}</li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Pas de partie en cours !</p>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
