<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">{% for jeton in partie.tasJeton.Argent %}
                    <img src="{{ asset('jetons/'~jetons[jeton].image) }}" height="50px" />
                {% endfor %}</div>
            <div class="col-sm-12">{% for jeton in partie.tasJeton.Cigarette %}
                    <img src="{{ asset('jetons/'~jetons[jeton].image) }}" height="50px" />
                {% endfor %}</div>
            <div class="col-sm-12">
                {% for jeton in partie.tasJeton.Alcool %}
                    <img src="{{ asset('jetons/'~jetons[jeton].image) }}" height="50px" />
                {% endfor %}
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        {% for jeton in partie.tasJeton.Chap_3 %}
                            {% if loop.first %}
                                <img src="{{ asset('jetons/'~jetons[jeton].image) }}" height="50px"/>
                            {% endif %}

                        {% endfor %}
                        {{ partie.tasJeton.Chap_3|length }}
                    </div>
                    <div class="col-sm-4">
                        {% for jeton in partie.tasJeton.Chap_4 %}
                            {% if loop.first %}
                                <img src="{{ asset('jetons/'~jetons[jeton].image) }}" height="50px"/>
                            {% endif %}

                        {% endfor %}
                        {{ partie.tasJeton.Chap_4|length }}
                    </div>
                    <div class="col-sm-4">
                        {% for jeton in partie.tasJeton.Chap_5 %}
                            {% if loop.first %}
                                <img src="{{ asset('jetons/'~jetons[jeton].image) }}" height="50px"/>
                            {% endif %}

                        {% endfor %}
                        {{ partie.tasJeton.Chap_5|length }}
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                {% for jeton in partie.tasJeton.Oeuvre %}
                    <img src="{{ asset('jetons/'~jetons[jeton].image) }}" height="50px" />{{ loop.index }}
                {% endfor %}
            </div>
            <div class="col-sm-12">
                {% for jeton in partie.tasJeton.Arme %}
                    <img src="{{ asset('jetons/'~jetons[jeton].image) }}" height="50px" />
                {% endfor %}
            </div>
            <div class="col-sm-12">
                {% for jeton in partie.tasJeton.Drogue %}
                    <img src="{{ asset('jetons/'~jetons[jeton].image) }}" height="50px" />
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12" style="height: 100px">
                {% for carte in partie.joueurs[1].main %}
                    <img src="{{ asset('cartes/dos.jpg') }}" height="100px" />
                {% endfor %}
            </div>
            <div class="col-sm-12" style="height: 100px">
                {% for card in partie.joueurs[1].chameaux %} <!--todo: Cartes chameau -->
                    <img src="{{ asset('cartes/'~card.image) }}" height="100px" />
                {% endfor %}
            </div>
            <div class="col-sm-12" style="height: 100px">
                <div class="row">
                    <div class="col-sm-2">{% if partie.Deck|length > 0 %}<img src="{{ asset('cartes/dos.jpg') }}" height="100px" />{% else %}Vide{% endif %}<p>Pioche</p></div>
                    {% for card in partie.terrain %}
                        <div class="col-sm-2"><img src="{{ asset('cartes/'~card.image) }}" height="100px" /></div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-sm-12" style="height: 100px">
                {% for card in partie.joueurs[0].chameaux %}
                    <img src="{{ asset('cartes/'~card.image) }}" height="100px" />
                {% endfor %}
            </div>
            <div class="col-sm-12" style="height: 100px">Mes cartes<br>
                {% for card in partie.joueurs[0].main %}
                    <img src="{{ asset('cartes/'~card.image) }}" height="100px" />
                {% endfor %}
            </div>
        </div>
    </div>
</div>